{% load static %}
</div>
<div class="container-fluid px-0 py-1 mb-3 mycolor2">
    <div class="container border">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            меню <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'IndexPage' %}">Главная <span class="sr-only">(current)</span></a>
              </li>
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'Contacts' %}">Контакты</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'Delivery' %}">Доставка</a>#}
{#              </li>#}
{#                <li class="nav-item">#}
{#                <a class="nav-link" href="{% url 'Order' %}">Как купить</a>#}
{#                </li>#}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Каталог
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'IndexPage' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/armatura.jpg' %}"> Арматура</a>
                    <div class="dropdown-divider"></div>
{#                <a class="dropdown-item" href="{% url 'shestigrannik' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/shestigrannik.jpg' %}"> Шестигранник</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'truba' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/truba.jpg' %}"> Труба</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'balka' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/balka.jpg' %}"> Балка</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'svarnaya-setka' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/svarnaya-setka.jpg' %}"> Сварная сетка</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'kvadrat' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/kvadrat.jpg' %}"> Квадрат</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'krug' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/krug.jpg' %}"> Круг</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'list' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/list.jpg' %}"> Лист</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'polosa' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/polosa.jpg' %}"> Полоса</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'ugol' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/ugol.jpg' %}"> Угол</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                <a class="dropdown-item" href="{% url 'shveller' %}"><img class="menu_img_ico" src="{% static 'menu_categorys/shveller.jpg' %}"> Швеллер</a>#}
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</div>

<div class="container">