<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Заказать обратный звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <p>У нас лучшие цены на оригинальную арматуру «‎Северсталь». Оставьте ваш номер телефона, и наш менеджер свяжется с вами в течении нескольких минут.</p>
    </div>
      <form method="post" action="{% url "OrderPage" %}">
          {% csrf_token %}
      <div class="modal-body">
          <label for="id_your_number">Ваше имя:!</label>
          {{ FORM.name }}
          <label for="id_your_number">Ваш номер:!</label>
          {{ FORM.phone }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <input type="submit" class="btn btn-primary" value="Перезвоните мне">
      </div>
      </form>
    </div>
  </div>
</div>