<div class="row mx-0">
    <div class="col-md-12 mt-5 mb-3">
        <span class="h2 mt-5 pt-5">Наши преимущества</span>
    </div>

    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Наличие всех сертификатов.</h5>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Работаем круглосуточно 24/7.</h5>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Доставка за 2-4 часа.</h5>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Оплата при получении товара.</h5>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Поставка напрямую с производства.</h5>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Лучшие цена в обоих столлицах.</h5>
        </div>
    </div>

</div>
<div class="row mt-5">
    <div class="col-md-6">
        <h2>Мы – это:</h2>
        <ul>
            <li>Команда единомышленников</li>
            <li>Целеустремленный коллектив</li>
            <li>Четкость в работе</li>
            <li>Поступательность развития</li>
            <li>Нацеленность на клиента</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Наши принципы:</h2>

        <ul>
            <li>Новаторство</li>
            <li>Ответственность</li>
            <li>Динамика</li>
            <li>Гибкость</li>
            <li>Профессионализм</li>
            <li>Качество</li>
            <li>Этика бизнеса</li>
        </ul>
    </div>
    <div class="col-12">
        <h2>Целями нашей работы являются:</h2>
        <ul>
            <li>Комплектация заказов для строительства</li>
            <li>Обработка металла</li>
            <li>Услуги по изоляции ( ВУС , ППУ и ЦПП )</li>
            <li>Проведение политики прозрачных, доступных и обоснованных цен.</li>
        </ul>
    </div>
</div>







