{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <title>{% if title %}{{ title }}{% else%}Металлобаза в Москве{% endif %}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/">
            <img src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
        </a>
</div>
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
		<![endif]-->
  </head>
  <body>
         <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(80020621, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/80020621" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head header-panel-absolute">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-offset="95" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-lg-auto-height="true" data-auto-height="false">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <div class="rd-navbar-panel-title">
                  <h4>Металлобаза</h4>
                </div>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-right-side-toggle veil-md" data-rd-navbar-toggle=".right-side"><span></span></button>
                <div class="shell">
                  <div class="range range-md-middle range-lg-top">
                    <div class="cell-md-3 left-side">
                      <div class="clearfix text-lg-left text-center">
                        <!--Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a href="{% url "IndexPage" %}">
                                <img width='165' height='76' src='{% static 'images/logo-light-165x76.png' %}' alt=''/>
                            </a>
                        </div>
                      </div>
                    </div>
                    <div class="cell-md-9 text-md-right right-side">
                      <ul class="offset-lg-top-15 list-unstyled">
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a style="font-weight: bold" class="inset-left-10 text-middle" href="mailto:{{ EMAIL_SHORT }}">mncmos@<span style="color: #c01111">y</span>andex.ru</a></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-clock-o text-middle icon-primary"></span><span class="inset-left-10 text-middle">Пн–Вс: 7:00–22:00</span></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a style="font-weight: bold; color: #c01111" class="inset-left-10 text-middle" href="tel:{{ PHONE_SHORT }}">{{ PHONE_SHORT }}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <div class="rd-navbar-mobile-header-wrap">
                      <!--Navbar Brand Mobile-->
                      <div class="rd-navbar-mobile-brand"><a href="{% url "IndexPage" %}"><img width='165' height='76' src='{% static 'images/logo-light-165x76.png' %}' alt=''/></a>
                          <a class="rd-navbar-mobile-search-toggle mdi" data-custom-toggle="rd-navbar-search-mobile" href="#"><span></span></a></div>
                      <!--RD Navbar Mobile Search-->
                      <div class="rd-navbar-search-mobile" id="rd-navbar-search-mobile">
                        <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" method="GET">
                          <div class="form-group">
                            <label class="form-label" for="rd-navbar-mobile-search-form-input">Search</label>
                            <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-mobile-search-form-input" type="text" name="s" autocomplete="off"/>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class=" active"><a href="{% url "IndexPage" %}">Главная</a></li>
                      <li><a href="#">Каталог</a>
                        <div class="rd-navbar-megamenu">
                          <div class="row section-relative">
                            <div class="col-lg-3 veil reveal-lg-block">
                              <div>
                                <div>
                                  <p style="min-height:300px;"></p>
                                </div>
                              </div>
                            </div>
                            <ul class="col-lg-3">
                              <li>
                                <h6><span class="small">Арматура</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/armatura/">Арматура все размеры</a></li>
                                  <li><a href="/catalog/armatura-6/">Арматура 6</a></li>
                                  <li><a href="/catalog/armatura-8/">Арматура 8</a></li>
                                  <li><a href="/catalog/armatura-10/">Арматура 10</a></li>
                                  <li><a href="/catalog/armatura-12/">Арматура 12</a></li>
                                  <li><a href="/catalog/armatura-14/">Арматура 14</a></li>
                                  <li><a href="/catalog/armatura-16/">Арматура 16</a></li>
                                  <li><a href="/catalog/armatura-18/">Арматура 18</a></li>
                                  <li><a href="/catalog/armatura-20/">Арматура 20</a></li>
                                  <li><a href="/catalog/armatura-22/">Арматура 22</a></li>
                                  <li><a href="/catalog/armatura-25/">Арматура 24</a></li>
                                  <li><a href="/catalog/armatura-28/">Арматура 28</a></li>
                                  <li><a href="/catalog/armatura-32/">Арматура 32</a></li>
                                  <li><a href="/catalog/armatura-36/">Арматура 36</a></li>
                                  <li><a href="/catalog/armatura-40/">Арматура 40</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3">
                              <li>
                                <h6><span class="small">Лист</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/list/">Все листы</a></li>
                                  <li><a href="/catalog/list-gk/">Лист горячекатанный</a></li>
                                  <li><a href="/catalog/list-ocinkovannyj-v-spb/">Лист оцинкованный</a></li>
                                  <li><a href="/catalog/list-xolodnokatannyj-xk/">Лист холоднокатанный</a></li>
                                  <li><a href="/catalog/nizkolegirovannyj/">Лист низколегированный</a></li>
                                </ul>
                                <h6><span class="small">Труба</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/truby/">Все трубы</a></li>
                                  <li><a href="/catalog/truby-elektrosvarnye-kruglye/">Трубы электросварный круглые</a></li>
                                  <li><a href="/catalog/truby-elektrosvarnye-kvadratnye/">Трубы электросварный квадратные</a></li>
                                  <li><a href="/catalog/truby-elektrosvarnye-pryamougolnye/">Трубы электросварные прямоугольные</a></li>
                                  <li><a href="/catalog/truby-profilnye/">Трубы профильные</a></li>
                                  <li><a href="/catalog/truby-stalnye-goryachedeformirovannye/">Трубы стальные горячедеформированные</a></li>
                                  <li><a href="/catalog/truby-stalnye-xolodnodeformirovannye/">Трубы стальные холоднодеформированные</a></li>
                                </ul>
                              </li>
                            </ul>
                            <ul class="col-lg-3">
                              <li>
                                <h6><span class="small">Уголок</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/ugolok/">Все уголки</a></li>
                                  <li><a href="/catalog/ugolok-neravnopolochnyj/">Уголок неравнополочный</a></li>
                                  <li><a href="/catalog/ugolok-ravnopolochnyj/">Уголок равнополочный</a></li>
                                </ul>
                                <h6><span class="small">Швеллер</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/shveller/">Все швеллеры</a></li>
                                  <li><a href="/catalog/shveller-gnutyj/">Швеллер гнуый</a></li>
                                  <li><a href="/catalog/shveller-stalnoj/">Швеллер стальной</a></li>
                                </ul>
                                <h6><span class="small">Другой металл</span></h6>
                                <ul class="list-unstyled offset-lg-top-25">
                                  <li><a href="/catalog/balki-dvutavr/">Балка двутавр</a></li>
                                  <li><a href="/catalog/krug/">Круг</a></li>
                                  <li><a href="/catalog/kvadrat-goryachekatanyj/">Квадрат горячекатанный</a></li>
                                  <li><a href="/catalog/polosa-gk/">Полоса ГК</a></li>
                                  <li><a href="/catalog/setka-stalnaya-svarnaya/">Сетка стальная сварная</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      {% for item in MAIN_MENU_ITEMS %}
                      <li><a href="{% url 'PageDetail' item.slug %}#mycontent">{{ item.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
{#                <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>#}
{#                  <form class="rd-navbar-search-form search-form-icon-right rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">#}
{#                    <div class="form-group">#}
{#                      <label class="form-label" for="rd-navbar-search-form-input">Search</label>#}
{#                      <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>#}
{#                      <div class="rd-search-results-live" id="rd-search-results-live"></div>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="
        context-dark
        bg-dark-blue
{#        mobile-shown-block#}
">
          <!-- Swiper-->
          <div class="swiper-container swiper-slider" data-height="35.5%" data-loop="true" data-dragable="false" data-min-height="480px" data-slide-effect="true">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-slide-bg="{% static 'images/backgrounds/bg-02-1920x660.jpg' %}" style="background-position: center center;">
                <div class="swiper-slide-caption">
                  <div class="container">
                    <div class="range range-xs-center range-lg-left">
                      <div class="cell-lg-7 text-lg-left cell-xs-10">
                        <div data-caption-animate="fadeInUp" data-caption-delay="100">
                          <h1><a href="{% url "IndexPage" %}">{% block mobile_content %}Продажа металлопроката{% endblock %}</a></h1>
                        </div>
                        <div class="offset-top-30" data-caption-animate="fadeInUp" data-caption-delay="150">
                          <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">С помощью собственного парка грузовой и грузоподъёмной техники, а также опытной команды профессионалов, готовы произвести резку металла, быструю погрузку и доставку вашего заказа по нужному адресу.</h4>
                          <h4 class="font-default text-light text-spacing-20 veil-sm">{{ EMAIL | safe }}</h4>
                        </div>
                        <div class="offset-top-20" data-caption-animate="fadeInUp" data-caption-delay="200">
                            <a class="btn btn-default btn-sm veil reveal-lg-inline-block" href="{% url "OrderPage" %}">Оформить заявку</a>
                            <a class="btn btn-primary btn-sm veil-lg" href="tel:{{ PHONE_SHORT }}">{{ PHONE_SHORT }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{#              <div class="swiper-slide" data-slide-bg="images/backgrounds/bg-03-1918x761.jpg" style="background-position: center center;">#}
{#                <div class="swiper-slide-caption">#}
{#                  <div class="container">#}
{#                    <div class="range range-xs-center range-lg-left">#}
{#                      <div class="cell-lg-7 text-lg-left cell-xs-10">#}
{#                        <div data-caption-animate="fadeInUp" data-caption-delay="100">#}
{#                          <h1><a href="about-us.html">A partnership based on trust.</a></h1>#}
{#                        </div>#}
{#                        <div class="offset-top-30" data-caption-animate="fadeInUp" data-caption-delay="150">#}
{#                          <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">We strive to ensure that our services have become a benchmark of quality in the field of the delivery.</h4>#}
{#                          <h4 class="font-default text-light text-spacing-20 veil-sm">Learn more about Transitec</h4>#}
{#                        </div>#}
{#                        <div class="offset-top-20" data-caption-animate="fadeInUp" data-caption-delay="200"><a class="btn btn-default btn-sm veil reveal-lg-inline-block" href="about-us.html">learn more</a><a class="btn btn-primary btn-sm veil-lg" href="#" data-custom-toggle="quote-form">Request a Quote</a></div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#              <div class="swiper-slide" data-slide-bg="images/backgrounds/bg-04-1918x660.jpg" style="background-position: center center;">#}
{#                <div class="swiper-slide-caption">#}
{#                  <div class="container">#}
{#                    <div class="range range-xs-center range-lg-left">#}
{#                      <div class="cell-lg-7 text-lg-left cell-xs-10">#}
{#                        <div data-caption-animate="fadeInUp" data-caption-delay="200">#}
{#                          <h1><a href="about-us.html">Comfortable Payment System.</a></h1>#}
{#                        </div>#}
{#                        <div class="offset-top-30" data-caption-animate="fadeInUp" data-caption-delay="300">#}
{#                          <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">Payment for services is made by credit or advanced system. A form of payment is in the discretion of the customer.</h4>#}
{#                          <h4 class="font-default text-light text-spacing-20 veil-sm">Learn more about Transitec</h4>#}
{#                        </div>#}
{#                        <div class="offset-top-20" data-caption-animate="fadeInUp" data-caption-delay="500"><a class="btn btn-default btn-sm veil reveal-lg-inline-block" href="about-us.html"> learn more</a><a class="btn btn-primary btn-sm veil-lg" href="#" data-custom-toggle="quote-form">Request a Quote</a></div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
            </div>
            <!-- Swiper Pagination-->
            <div class="swiper-pagination"></div>
            <div class="quote-form" id="quote-form">
              <div class="container">
                <div class="range range-xs-center range-lg-right">
                  <div class="cell-xs-10 cell-sm-8 cell-lg-5 text-left offset-top-0">
                    <div class="inset-lg-left-70">
                      <div class="quote-form-body"><a class="close icon icon-xxs fa-close text-white" href="" data-custom-toggle="quote-form"></a>
                        <div>
                          <h3>Онлайн заявка</h3>
                        </div>
                        <div class="offset-top-25">
                          <p>Оформите заявку и наш менеджер свяжется с вами и подберет самое выгодное предложение</p>
                        </div>
                        <div class="offset-top-20">
{#                          <div class="form-group">#}
{#                            <select class="form-control select-filter" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">#}
{#                              <option>City-poster</option>#}
{#                              <option value="2">San Francisco</option>#}
{#                              <option value="3">New York</option>#}
{#                              <option value="4">Las Vegas</option>#}
{#                            </select>#}
{#                          </div>#}
{#                          <div class="form-group">#}
{#                            <select class="form-control select-filter" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">#}
{#                              <option>City-recipient</option>#}
{#                              <option value="2">San Francisco</option>#}
{#                              <option value="3">New York</option>#}
{#                              <option value="4">Las Vegas</option>#}
{#                            </select>#}
{#                          </div>#}
                          <div class="form-group">
{#                            <select class="form-control select-filter" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">#}
{#                              <option>Type of departure</option>#}
{#                              <option value="1">By road</option>#}
{#                              <option value="2">By water</option>#}
{#                              <option value="3">By train</option>#}
{#                            </select>#}
                          </div><a class="btn btn-sm btn-primary" href="{% url "OrderPage" %}#mycontent">Заявка онлайн</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-80 section-lg-top-90 section-lg-bottom-120">
          <div class="shell text-sm-left">
{#            {% block mobile_content %}<h2>our services</h2>{% endblock %}#}
              {% if title %}<h2 id="mycontent">{{ title }}</h2>{% else %}<h2 id="mycontent">Металлопрокат в Москве!</h2>{% endif %}
              {% block content %}
              {% endblock %}
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="range range-xs-center range-sm-left offset-top-50">
              <div class="cell-xs-10 cell-sm-8">
                <p>Всегда в наличии на складе:</p>
              </div>
            </div>
            <div class="range text-left range-xs-center offset-top-50">
              <div class="cell-xs-8 cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="/catalog/armatura/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-01-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Арматура</h6>
                            </figcaption>
                          </figure></a>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" href="/catalog/truby/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-02-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Трубы</h6>
                            </figcaption>
                          </figure></a>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0"><a class="thumbnail-classic" href="/catalog/ugolok/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-03-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Уголок</h6>
                            </figcaption>
                          </figure></a>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30"><a class="thumbnail-classic" href="/catalog/setka-stalnaya-svarnaya/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-04-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Сетка</h6>
                            </figcaption>
                          </figure></a>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30"><a class="thumbnail-classic" href="/catalog/list/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-05-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Лист</h6>
                            </figcaption>
                          </figure></a>
              </div>
              <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30"><a class="thumbnail-classic" href="/catalog/balki-dvutavr/" target="_self">
                          <figure><img width="370" height="250" src="{% static 'images/services/service-06-370x250.jpg' %}" alt="">
                            <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                              <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Балка</h6>
                            </figcaption>
                          </figure></a>
              </div>
            </div>
{#            <div class="offset-top-50"><a class="btn btn-default btn-sm" href="services-1.html">view all services</a></div>#}
          </div>
        </section>
        <!-- Why choose us-->
        <section class="section-80 section-md-top-65 section-md-bottom-120 bg-dark-blue context-dark section-skew section-skew-wide">
          <div class="skew-block"></div>
          <div class="shell text-md-left">
            <h2>Почему мы</h2>
            <hr class="divider divider-lg bg-primary hr-md-left-0">
            <div class="range text-md-left offset-top-50 range-xs-center">
              <div class="cell-sm-8 cell-md-4">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-thumbs-up"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Надежность</h4>
                    <p>Оперативность и четкость отгрузок, гибкая система ценообразования, товарные кредиты, круглосуточная доставка, консультации, четко налаженный документооборот все это делается для того чтобы вы стали нашим партнером.</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-users"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Гарантия качества</h4>
                    <p>Продукция поступает на склад только от проверенных производителей. Каждая партия проходит строгий входной контроль качества на соответствие толщины, плоскостности, химических свойств и сопровождается сертификатом качества завода</p>
                  </div>
                </div>
              </div>
              <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                <div class="unit unit-md unit-md-horizontal text-md-left">
                  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-lock"></span></div>
                  <div class="unit-body">
                    <h4 class="text-bold">Низкие цены</h4>
                    <p>Это возможно за счет больших запасов металла на нашем складе и долгосрочных прямых контрактов с крупными металлургическими комбинатами. Предоставляем все сертификаты и закрывающие документы.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      <!-- Page Footer-->
      <footer class="section-65 page-footer bg-lightest section-skew">
        <div class="skew-block"></div>
        <div class="shell">
          <div class="range range-xs-center range-sm-middle">
            <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
              <!--Footer brand--><a href="{% url "IndexPage" %}"><img width='164' height='76' src='{% static "images/logo-dark-164x76.png" %}' alt=''/></a>
            </div>
            <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
              <ul class="list-inline list-inline-dark">
                <li><a class="icon icon-xxs fa-facebook" href="#"></a></li>
                <li><a class="icon icon-xxs fa-twitter" href="#"></a></li>
                <li><a class="icon icon-xxs fa-pinterest" href="#"></a></li>
                <li><a class="icon icon-xxs fa-vimeo" href="#"></a></li>
                <li><a class="icon icon-xxs fa-google" href="#"></a></li>
                <li><a class="icon icon-xxs fa-rss" href="#"></a></li>
              </ul>
            </div>
            <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
              <div class="cell-md-12 text-md-right right-side">
                      <ul class="offset-lg-top-15 list-unstyled">
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a style="font-weight: bold" class="inset-left-10 text-middle" href="mailto:{{ EMAIL_SHORT }}">mncmos@<span style="color: #c01111">y</span>andex.ru</a></li>
                        <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a style="font-weight: bold; color: #c01111" class="inset-left-10 text-middle" href="tel:{{ PHONE_SHORT }}">{{ PHONE_SHORT }}</a></li>
                      </ul>
                    </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="{% static 'js/core.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"> </script>
<script>
    (function(w, d, u, i, o, s, p) {
        if (d.getElementById(i)) { return; } w['MangoObject'] = o;
        w[o] = w[o] || function() { (w[o].q = w[o].q || []).push(arguments) }; w[o].u = u; w[o].t = 1 * new Date();
        s = d.createElement('script'); s.async = 1; s.id = i; s.src = u;
        p = d.getElementsByTagName('script')[0]; p.parentNode.insertBefore(s, p);
    }(window, document, '//widgets.mango-office.ru/widgets/mango.js', 'mango-js', 'mgo'));
    mgo({calltracking: {id: 25173, elements: [{"numberText":"74996535520"}]}});
</script>
{% block additional_js %}
{% endblock %}
  </body>
</html>
