{% extends "base.html" %}
{% block content %}
    <h2>Оформить заявку:</h2>
    <form method="post">
{#    {{ form.errors }}#}
    {% csrf_token %}
    <div style="border-radius: 4px;font-size: 14px; font-weight: normal; padding: 8px 0px 5px 0px;text-align: center; width: 250px; margin: 10px auto; display: block;" class="form-group">
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div style="border-radius: 4px;font-size: 14px; font-weight: normal; padding: 8px 0px 5px 0px;text-align: center; width: 250px; margin: 10px auto; display: block;" class="form-group">
        {{ form.phone }}
        <div class="notification alert">{{ form.phone.errors }}</div>

    </div>
    <button type="submit" class="luch-cena-new btn btn-primary">Отправить заявку</button>
</form>
{% endblock %}

{% block undercontent %}
{% endblock %}