{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <a class="small" href="{% url 'IndexPage' %}">{{ COMPANY_NAME }}</a>
    {% for item in html_breadcrumbs %}
        <small>/</small> <a class="small" href="{% url 'CategoryPage' item.url %}" class="">{{ item.anchor }}</a>
    {% endfor %}
    <span class="small text-muted"> / {{ object }}</span>

    {% if category.parent_category.slug != "armatura" and object.slug != "armatura" and False %}
    <br>
    <h3>Фильтры</h3>
    <form method="get" action="#mycontent">
        {% for filter, data in filters.items %}
            <b>{{ data.rus }}:</b>
            <select class="mt-1 " name="{{ filter }}">
                <option>Выберите {{ data.rus }}</option>
                {% if data.selected %}
                    <option selected>{{data.selected}}</option>
                {% endif %}
                {% for variant in data.values %}
                <option>{{ variant }}</option>
                {% endfor %}
            </select>
        {% endfor %}
    <input class="btn btn-sm btn-primary" type="submit" value="Применить">
    </form>
    <br>
    {% endif %}

    {% if grades %}
{#        <div class="row my-3">#}
{#            <div class="col-12">#}
                <h5>Марки стали:</h5>
                {{ grades|join:", " }}
{#            </div>#}
{#        </div>#}
    {% endif %}

    {% if gosts %}
{#        <div class="row my-3">#}
{#            <div class="col-12">#}
                <h5>ГОСТы:</h5>
                {{ gosts|join:", " }}
{#            </div>#}
{#        </div>#}
    {% endif %}

    {% if child_categorys %}
        <div class="row mt-5">
            {% for child_category in child_categorys %}
                <div class="col-xs-12 col-md-12" style="margin-top: 20px">
                <a href="{% url 'CategoryPage' child_category.slug %}" class="h5">{{ child_category }}</a><span class="d-none d-md-inline"></span>
                    <div class="table-responsive">
                    <table class="table table-custom table-dark-blue text-center">
                                    <tr>
                                        <th class="mobile-shown">Описание</th>
                                        <th class="mobile-hidden-col" style="width: 1000px; padding-right: 5px">Наименование</th>
                                        {% for spec in child_category.product_set.first.get_headers_specification %}
                                            <th class="mobile-hidden-col" style="white-space: nowrap; padding-right: 5px">{{ spec }}</th>
                                        {% endfor %}
                                        <th>Цена</th>
                                    </tr>
                                <tbody>
                                    {% for product in child_category.product_set.all|slice:":5" %}
                                    <tr class="{% if forloop.counter|divisibleby:2 %}bg-lightest{% else %}{% endif %}">
                                        <td class="mobile-shown">{{ product.description }}</td>
                                        <td class="mobile-hidden-col">{{ product.name }}</td>
                                        {% for spec in product.get_specification %}
                                            <td class="mobile-hidden-col" style="white-space: nowrap">{{ spec }}</td>
                                        {% endfor %}
    {#                                    {{ product.specifications }}<br>#}
                                        <td style="white-space: nowrap; font-weight: bold">
                                            {% if product.price == 0 %}
                                            по запросу
                                            {% else %}
                                            {{ product.price|space_intcomma }} ₽
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if object.product_set.exists %}
        <h4 class="h4 mb-0 mt-5">Товары в категории {{ object | lower }}:</h4>

        <div class="table{#-responsive#}">
          <table class="table-tovar table table-custom table-dark-blue text-center">
            <tr class="cart-zag">
<!--                <th style="vertical-align: middle;" class="mobile-shown">Описание</th>-->
                <th class="mobile-hidden-col">Наименование.</th>
                    {% for header_item in object.product_set.first.get_headers_specification %}
                    <th class="mobile-hidden-col">{{ header_item }}</th>
                    {% endfor %}
                    <th style="vertical-align: middle;">Цена за тонну</th>
                    {% if category.parent_category.slug == "armatura" %}
                    <th style="vertical-align: middle;">Цена за метр</th>
                    <th style="vertical-align: middle;">Цена за хлыст</th>
                    {% endif %}
            </tr>
          {% for product in page_obj %}
                <tr class="cart-stroka {% if forloop.counter|divisibleby:2 %}bg-lightest{% else %}bg-white{% endif %}">
<!--                    <td class="mobile-shown">{{ product.description }}</td>-->
                    <td class="mobile-hidden-col">{{ product.name }}</td>
                    {% for specification in product.get_specification %}
                    <td class="mobile-hidden-col">{{ specification }}</td>
                    {% endfor %}
                    <td style="white-space: nowrap; font-weight: bold">
                        {% if product.price == 0 %}
                        по запросу
                        {% else %}
                        {{ product.price }} ₽
                        {% endif %}
                    </td>

                    {% if category.parent_category.slug == "armatura" %}
                    <td>{{ product.price_per_meter }} ₽</td>
                    <td>{% if product.price_per_prut %}{{ product.price_per_prut }} ₽{% endif %}</td>
                    {% endif %}

                </tr>
            {% endfor %}
          </table>
        </div>
    {% endif %}
    <br>
    {% include 'blocks/pagination.html' %}

    <div class="json">
    <script type="application/ld+json">
                {{ json | safe }}
            </script>
    <script type="application/ld+json">
                {{ json_breadcrumbs | safe }}
            </script>
    </div>

{% endblock %}

{% block mobile_content %}
<h2>{{ object.name }} {%  if minimal_price %}от {{ minimal_price }} ₽{% endif %}</h2>
{% endblock %}

{% block additional_js %}
    {% if category.parent_category.slug == "armatura" or object.slug == "armatura" %}
        <!-- Pixel -->
        <script type="text/javascript">
            (function (d, w) {
                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://qoopler.ru/index.php?ref="+d.referrer+"&page=" + encodeURIComponent(w.location.href);
                    n.parentNode.insertBefore(s, n);
            })(document, window);
        </script>
        <!-- /Pixel -->
    {% endif %}
{% endblock %}
