{% extends 'base.html' %}
{% block content %}
    <a class="small" href="{% url 'IndexPage' %}">{{ COMPANY_NAME }}</a>
    {% for item in html_breadcrumbs %}
        <small>/</small> <a class="small" href="{% url 'CategoryPage' item.url %}" class="">{{ item.anchor }}</a>
    {% endfor %}
    <small>/</small> <a class="small text-muted" href="{% url 'CategoryPage' object.category.slug %}">{{object.category.name}}</a>
    <div class="row">
        <div class="col-md-12">
            «{{ COMPANY_NAME }}» - у нас вы можете купить «{{ object.pretty_name }}» в Москве от
            производителя в наличии по самой
            дешевой цене
        </div>
        <div class="col-md-12 pt-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Характеристики</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Описание</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                       aria-controls="nav-contact" aria-selected="false">Доставка</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {# характеристики #}
                <div class="tab-pane fade show active pt-5" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <table class="table">
                        <tr>
                            <th>Характеристика</th>
                            <th>Значение</th>
                        </tr>
                        {% for k, v in spec_data.items %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {# описание #}
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row pt-5">
                        <div class="col-md-12"><h2>Описание</h2>{{ object.description }}</div>
                    </div>
                </div>
                {# доставка #}
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row pt-5">
                        <div class="col-md-12">
                            <h2 class="h2">Доставка по Москве и Москвоской области</h2>
                            <p>Доставка нашим автотранспортом (по всей территории СПБ и ЛО) осуществляется
                                при оплате
                                безналичным и наличным<br>
                                расчетом</p>
                            <ul class="mylist">
                                <li>До 200 кг – автомобиль (длиной до 1,5-2м) марки Volkswagen Transporter/Mercedes
                                    Vito;
                                </li>
                                <li>От 200 кг до 1,5т. – автомобиль (длиной до 4м) марки Газель/Isuzu;</li>
                                <li>От 1,5т. до 6т. – автомобиль (длиной 6-7м) марки Isuzu/Faw/Mercedes;</li>
                                <li>От 6т. до 22т. – автомобиль (длиной до 12м) марки МАЗ;</li>
                                <li>До 30 т. – автомобиль (длиной до 13,1м) марки MAN.</li>
                            </ul>
                            <p>Стоимость доставки уточняйте у менеджера.</p>
                            <h2 class="h2">Доставка в регионы РФ</h2>
                            <p>Доставка перевозчиками по территории РФ. Стоимость доставки определяется согласно тарифов
                                перевозчиков.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
